* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    background-color: var(--background-dark);
    background-image: url('../images/Design\ sem\ nome.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {

    display: flex; 
    height: 40vh;
    justify-content: space-between;
}

.banner-left {
    display: flex;
    align-items: end;
    width: 50%;
}

.banner-right {
    height: 35vh;
    padding: 20px;
}

.container1 {
    background-color: var(--background-light);
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 80px;
}

.container2 {
    background-color: var(--primary-color);
    height: 100%;
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 80px;
}

.conteudo-grid {
    display: grid;
    min-height: 300px;
    height: fit-content;
    max-width: 1700px;
    grid-template-rows: auto;
    /* grid-template-columns: 22% 22% 22% 22%; */
    grid-template-columns: repeat(auto-fit, minmax(180px, 0.5fr));
    row-gap: 50px;
    column-gap: 50px;
    justify-content: space-between;
    width: 100%;

}

.elemento {

    height: 260px;
    width: 100%;
    max-width: 250px;
    font-size: 30px;

}

.conteudo {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color: var(--text-dark);
    box-shadow: 0px 0px 20px 5px rgba(112, 112, 112, 0.171);
    transition: 150ms;
}

.adicionar {
    background-color: var(--secondary-color);
    box-shadow: inset 0px 0px 10px 5px rgba(156, 156, 156, 0);
    color: rgb(216, 216, 216);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 150ms;

}

.elemento:hover {
    transform: scale(1.05);
}

.text {
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 30px;
}

.container-exemplo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

}

.conteudo-menu {
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-color);
    color: black;
}

.conteudo-menu a {
    color: var(--text-dark);
    font-size: 18px;
    padding: 15px;
}
.lang-icon {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    transition: 150ms;
}

.lang-icon {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    transition: 150ms;
}